.TimeCountDownBar {
    width: 100%;
    height: 2px;
    background-color: rgb(116, 179, 40);
    animation: fillLapse 20s ease-in;
    margin-top: 20px;
    margin-bottom: 20px;
}

@keyframes fillLapse {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}