.Button{
    background-image: linear-gradient(-45deg, #c210c2, #5223d5, #23d5ab);
    background-size: 400%;
    color: white;
    border: transparent;
    border-radius: 25px;
    width: 130px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Open Sans';  
}



.Button:hover{
    color: white;
    cursor: pointer;

    animation: gradient 7s ease infinite;
}

.Button:disabled{
    background-image: linear-gradient(-45deg, #a8a8a8, #8a8a8a, #d3d3d3);
    cursor: initial;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*Ändra*/
@media(max-width: 200px){
    .Button{
        width: 70px;
    }
}