.AnswerButton{
    background-color: white;
    color: black;
    width: 158px;
    border: none;
    height: auto;
    text-align: center;
    vertical-align: text-bottom;
    margin: 5px;
    margin-left: 6px;
    margin-bottom: 20px;
    border-radius: 25px;
    float: left;
    min-height: 50px;
    box-shadow: 0px 5px 5px 2px rgb(228, 228, 228);
    font-size: 11pt;
}

.FalseAnswer{
    color: rgb(192, 22, 3);
    border: 2px solid rgb(192, 22, 3);
    width: 154px;
}

.CorrectAnswer{
    color: rgb(55, 151, 0);
    border: 2px solid rgb(55, 151, 0);
    width: 154px;
}


.AnswerButton:hover{
    color: black;
    background-color: rgb(238, 237, 237);
    cursor: pointer;
}

.FalseAnswer:hover{
    color: rgb(192, 22, 3);
    background-color: rgb(253, 190, 190);
    border-color: rgb(192, 22, 3);
    cursor: pointer;
}

.CorrectAnswer:hover{
    color: rgb(55, 151, 0);
    background-color: rgb(215, 255, 190);
    border-color: rgb(55, 151, 0);
    cursor: pointer;
}